:root{
   --bg:#0b0b0f;
   --card:#111118;
   --accent: #8b5cf6;
    --text:#ffffff;
    --muted:#b3b3c7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Popins', sans-serif;
    color: var(--text);
    /* background-image: url("../image.3/file_000000006fa8720aba9e3ae4f63174c1.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    background: radial-gradient(circle at top ,#1a1a31,#0a0a1b );
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(12px);
    background: rgba(10, 10, 20, 0.4);
    z-index: 1000;
}
nav h1{
    font-size: 20px;
    font-weight: 600;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
nav ul li{
    color: var(--muted);
    transition: 0.3s;
}
nav ul li:hover,
nav ul li.active{
    color: var(--accent);
}
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 120px 20px;
    background-image: url("../image.3/file_000000006fa8720aba9e3ae4f63174c1.png");
}
.hero h2{
    font-size: 48px;
    font-weight: 700px;
}
.hero h2 span{
    color: var(--muted);
}
.hero p{
    margin: 20px auto 40px;
    max-width: 600px;
    color: var(--muted);
    font-size: 18px;
}
.btns{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    padding: 14px 32px;
    border-radius: 30px;
    background:linear-gradient(135deg, var(--accent), #6366f1) ;
    color: white;
    box-shadow: 0 0 30px rgba(139, 92, 246, .5);
    transition: 0.3s;
}
.btn-outline{
    background: transparent;
    border: 1px solid var(--accent);
    box-shadow: none;
    /* text-align: center; */
}
.btn:hover{
    transform: translateY(-4px);
}
section{
    padding: 100px 80px;
}
.section-title{
    font-size: 36px;
    margin-bottom: 60px;
    text-align: center;
}
.section-title span{
    color: var(--accent);
}
.about{
    max-width: 900px;
    margin: auto;
    text-align: center;
    color: var(--muted);
    font-size: 18px;
    line-height: 1.8;
}
.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    gap: 30px;
}
.skill{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(117, 88, 185, 0.3);
     box-shadow: 0 0 15px rgba(139, 92, 246, .3);
    transition: .4s;
}
.skill:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 40px rgba(139, 92, 246, .3);
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 40px;
}
.project{
    background: var(--card);
    border-radius: 20px;
    overflow: hidden;
    position: relative;   
}
.project img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.project .info{
    padding: 25px;
}
.project p{
    color: var(--muted);
    font-size: 14px;
}
.overlay{
    position: absolute;
    inset: 0;
    background: rgba(42, 30, 52, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    opacity: 0;
    transition: 0.4s;
}
.project:hover .overlay{
    opacity: 1;
}
form{
    max-width: 600px;
    margin: auto;
    display: grid;
    gap: 20px;
}
input,textarea{
    background: #0f0f1f;
    border: none;
    border-radius: 12px;
    padding: 16px;
    color: white;
}
textarea{
    resize: none;
    height: 140px;
}
footer{
    text-align: center;
    padding: 40px;
    color: var(--muted);
}
.reveal{
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}
.reveal.active{
    opacity: 1;
    transform: none;
}
@media(max-width:768px){
    nav{
        padding: 20px;
    }
    section{
        padding: 80px 20px;
    }
    .hero h2{
        font-size: 34px;
    }
}